*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-list{
    width: 30%;
    background-color: rgb(209, 209, 209);
    padding: 50px 10px;
}

.contact-list,.message-box{
    float:left;
}

.message-box{
    width: 70%;
    /* height: 700px; */
    background-color: rgb(187, 212, 248);
    /* padding: 50px 10px; */
}

#your-image{
    margin: 0 auto;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: white;
}

#your-name{
    margin: 20px auto;
    border-radius: 5px;
    width: calc(90% - 10px);
    height: 40px;
    background-color: white;
    display: block;
}

.clear-fix::after{
    content: '';
    display: table;
    clear: both;
}

.contact-list div[class*="contact"]{
    margin: 20px 5%;
    height: 30px;
    background-color: white;
    display: block;
    float: left;
}

div.contact-image{
    width: 30px;
    border-radius: 50%;
}

.contact{
    width: 70%;
}

#chat-box{
    margin: 30px auto;
    padding: 20px;
}

#chat-box div[class*="message"]{
    margin: 15px;
    border-radius: 5px;
    height: 40px;
    width: 60%;
    display: block;
}

.received-message{
    background-color: white;
    float: left;
}

.sent-message{
    background-color: rgb(38, 199, 38);
    float: right;
}

